@import url('https://fonts.googleapis.com/css?family=Roboto|Material+Icons');

button,
input {
    border: none;
    background: #e8e8e8;
    padding: 10px;
    margin: 2px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

button:hover,
input:hover {
    background: #d3d3d3;
}

button:active,
input:active {
    background: #c6c6c6;
}

div.section {
    margin: 10px;
}
